<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body class="teal accent-1">
    <div class="container">
      <div class="container">
        <div class="container container-border">
          <div class="row">
            <h1 class="grey-text text-lighten-4">ADD TODO</h1>
          </div>
          <div class="col m8">
            <div class="card-panel cyan accent-1">
              <form action="/" method="POST">
                <input type="text" name="todoTask" placeholder="Add Todo" />
                <button class="btn grey lighten-4 teal-text">Add Todo</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
